* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #d5e1ef;
  font-family: cursive;
  text-align: center;
  font-weight: 400;
}
.card {
  margin: auto;
  inset: 0;
  position: absolute;
  padding: 1rem;
  height: 461px;
  width: 100%;
  max-width: 295px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.7rem;
}
img {
  width: 100%;
  border-radius: 10px;
}

h3{
    color: #1f3251;
}
p {
  padding-top: 0.7rem;
  color: #1f3251;
}
